.playback-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.time-elapsed,
.duration {
  min-width: 40px;
  font-size: 11px;
  color: rgb(167, 167, 167);
}

.time-elapsed {
  text-align: right;
}
