.progress-bar {
  position: relative;
  width: 100%;
  height: 12px;
}

.progress-bar-background {
  flex-grow: 1;
  position: relative;
  top: 50%;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: hsla(0,0%,100%,0.3);
  overflow: hidden;
  transform: translateY(-50%);
}

.progress {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  transform: translateX(calc(-100% + var(--progress)));
}

.progress-bar:hover .progress {
  background-color: rgb(29, 185, 84);
}

.cursor {
  position: absolute;
  top: 50%;
  left: var(--progress);
  display: none;
  margin-left: -6px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
}

.progress-bar:hover .cursor {
  display: block;
}
