.now-playing-bar {
  display: flex;
  height: 91px;
  padding: 0 16px;
  background-color: #181818;
  border-top: 1px solid #282828;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  max-width: 722px;
  gap: 8px;
}

.control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}
