.now-playing-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0 16px;
  background-color: #181818;
  border-top: 1px solid #282828;
}

.left-column {
  min-width: 180px;
  width: 30%;
}

.middle-column {
  max-width: 722px;
  width: 40%;
}

.right-column {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 180px;
  width: 30%;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  max-width: 722px;
  gap: 8px;
}

.control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.now-playing {
  display: flex;
}

.now-playing-cover-art {
  display: block;
  width: 56px;
  height: 56px;
  object-fit: cover;
}

.now-playing-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 14px;
}

.now-playing-track {
  font-size: 14px;
}

.now-playing-artists {
  font-size: 11px;
  color: rgb(167, 167, 167);
}
