.track-list {
  list-style-type: none;
}

.header {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: [index] 16px [first] 4fr [var1] 2fr [last] minmax(120px,1fr);
  height: 36px;
  padding: 0 16px;
  border-bottom: 1px solid rgba(255,255,255,.1);
  color: #b3b3b3;
  text-transform: uppercase;
}

.header svg {
  fill: currentcolor;
}

.row {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: [index] 16px [first] 4fr [var1] 2fr [last] minmax(120px,1fr);
  height: 56px;
  padding: 0 16px;
  border-radius: 4px;
  user-select: none;
}

.row:hover {
  background-color: rgba(255,255,255,.1);
}

.row-selected,
.row-selected:hover {
  background-color: rgba(255,255,255,.3);
}

.track-number-column {
  display: flex;
  align-items: center;
  justify-self: end;
}

.title-column {
  justify-self: start;
  display: flex;
  align-items: center;
}

.title-column-header {
  font-size: 12px;
}

.album-column {
  justify-self: start;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgb(167, 167, 167);
}

.album-column-header {
  font-size: 12px;
}

.duration-column {
  grid-column: last;
  justify-self: end;
  display: flex;
  align-items: center;
  color: rgb(167, 167, 167);
  font-size: 14px;
  font-variant-numeric: tabular-nums;
}

.album-cover-and-track-info {
  display: flex;
}

.album-cover {
  margin-right: 16px;
}

.track-name-and-artists {
  display: grid;
  grid-template: "title title" "badges subtitle"/auto 1fr;
  column-gap: 8px;
  align-items: center;
  padding-right: 8px;
}

.track-name {
  grid-area: title;
  justify-self: start;
  font-size: 16px;
  line-height: 1.5;
}

.row-playing .track-name {
  color: #1db954;
}

.artists {
  grid-area: subtitle;
  grid-column-start: badges;
  font-size: 14px;
  line-height: 1;
  color: rgb(167, 167, 167);
}
