.slider {
  position: relative;
  width: 100%;
  height: 12px;
}

.track {
  top: 50%;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: hsla(0, 0%, 100%, 0.3);
  transform: translateY(-50%);
}

.track-progress {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
}

.slider:hover .track-progress,
.slider[data-focused] .track-progress {
  background-color: rgb(29, 185, 84);
}

.thumb {
  position: absolute;
  top: 50%;
  display: none;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  border-radius: 50%;
  background-color: #fff;
  transform: translateY(-50%);
}

.slider:hover .thumb,
.slider[data-focused] .thumb {
  display: block;
}
