.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-panel {
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.side-bar {
  width: 300px;
  padding-top: 24px;
}

.content {
  flex-grow: 1;
  background-color: #121212;
}
